* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

body {
    background: #b9c7f3;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15%;
    background: transparent;
    transition: ease .40s;
}

.logo{
    color: #9578e8;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

header.sticky{
    padding: 12px 15%;
    background: #e5b9f3;
}

.sticky .navlist a {
    color: #fff;
}


.navlist {
    display: flex;
}

.navlist li {
    position: relatives;
}
.navlist a {
    display: inline-block;
    color: #042A2B;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 0 5px;
    transition: all .40s ease;
}

.navlist a:hover{
    color: #9578e8;
    transition: .5s;
}

#menu-icon {
    color: #b9e4f3;
    font-size: 32px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


/* section {
    padding: 120px 15%;

} */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #b9c7f3;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

.home-content {
    position: relative;
    z-index: 4;
    margin-left: 15%;
    margin-top: 10%;
}

.home-content h1 {
    color: #042A2B;
    font-size: 5.3rem;
    /* max-width: 200px; */
    font-weight: 700;
    line-height: 1.2;
    margin: 20px 0px 20px;
    font-family: 'Space Grotesk', sans-serif;
}

.home-content p {
    color: #040000;
    font-size: 20px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 5px;
} 

.btn {
    background-color: #9578e8;
    display: inline-block;
    padding: 10px 18px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid transparent;
    margin: 30px 0;
    transition: all .40s ease;
    cursor: pointer;
}

.btn:hover{
    transform: translateY(-8px);
    border: 2px solid #e5b9f3;
    background: transparent;
}




.middle img {
    position: absolute;
    right: 15%;
    top: 210px;
    width: 400px;
    height: 400px;
}

.about {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}

.about-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.about-text h2 {
    font-size: 4.2rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.about-text h5 {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Space Grotesk', sans-serif;
}

.about-text p {
    color: #101010;
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    font-size: 1.1rem;
    margin-bottom: 45px;
}

.cv-btn {
    display: inline-block;
    background: #9578e8;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    transition: ease .35s;
}

.cv-btn:hover {
    transform: translateY(-8px);
    border: 2px solid #e5b9f3;
    background: transparent;
}

.center{
    text-align: center;
}

.center h2 {
    font-size: 4.2rem;
    margin-bottom: 15px;
}

.center p {
    color: #101010;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1.1rem;
}

.portfolio {
    margin-left: 15%;
    margin-right: 15%;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}

 .social-media {
    width: 30px;
    height: 30px;
    display: inline-flex;

}

.social-media img {
    display: inline-block;
    float: none;
    margin: 30px;

}

.footer {
    padding: 100px 0px 0px 900px;
    
    
}

@media (max-width: 1330px){
    header {
        padding: 10px 5%;
    }
    
    .home-content h1{
        font-size: 80px;
        transition: .3s;
        
    }

}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #fff;
        text-align: left;
        transition: all .40s ease;
    }
    .navlist a {
        display: block;
        padding: 1rem;
        margin: 0.5rem;
        border-left: 2px solid #040000;
        color: #6F7378;
    }
    .navlist.open{
        top: 100%;
    }

    .middle img {
       display: none;
    }

    .home-content {
        padding-left: 8%;
    }

 }

/* .hero {
    background: radial-gradient(#9BA3EB,#242F9B);
} */

/* .container {
    width: 1350px;
    max-width: 95%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
} */



/* nav {
    display: flex;
    width: 84%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
} */



/* .menu {
    width: 50px;
    height: auto;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    margin: 10px 20px;
} */

/* nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}


.box {
    display: flex;
    align-items: center;
}

button{
    background-color: pink;
    display: inline-block;
    padding: 16px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid pink;
    margin-right: 30px;
} */

/* button:hover{
    background-color: transparent;
    order: 1px solid pink;
    margin-right: 30px;
    cursor: pointer;
    color: pink;
    transition: .5s;
}



/* .middle {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}

.middle img {
    height: 450px;
    width: 450px;
    margin-left: 150px;
} */
/* @media (min-width: 480px) {

    .intro {
        /* justify-self: center; 
        margin-left: auto;
        margin-right: auto;
    }

    .centre {
        /* display: relative; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        padding-bottom: 30px;
    }


    .name {
        text-align: left;
        padding-top: 100px;
        font-size: 62px;
        font-weight: 200;
        margin-left: 100px;
    }

    .name-2 {
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 19px;
        letter-spacing: -0.04em;
        color: #161313;
    }

    h1 {
        color: #161313;
        font-family: 'Vollkorn', serif;
        text-align: center;
    }

} */
/* 
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.name {
    text-align: center;
    padding-top: 30px;
    font-size: 62px;
    font-weight: 200;
    margin: 0;
    letter-spacing: 2.5px;
    padding-bottom: 20px;
}

.name-2 {
    text-align: center;
    margin: 40px;
    padding-bottom: 100px;

}

.intro {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}
.learning-container {
    position: relative;
    /* padding-top: 30px;
    left:0;
    right:0;
 */
    /* height: 100vh;
    max-width: 100%; 
    margin: auto;
    width: 300px;

}

.education-container {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    
} */

/* div {
    width: 300px;
    margin: auto;
  } */
/* 
.learning {
    border-top: 2px dashed;
    border-color: #646FD4 !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
}



.learning:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: #646FD4;
    text-align: center;
    color: white;
    font-size: 110%;
}

.learning:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: #646FD4;
    text-align: center;
    color: white;
    font-size: 110%;
}



.learning:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

.learning:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
}

.learning:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.learning:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
} */

/* .timeline {
    display: relative;
    margin-left: 0;
    margin-right: 0;
} */
/* 
.hobbies {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.work {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.skills {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.contact {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
} */

/* body {
    background-color:#f1ff99;
    background-image:
    radial-gradient(at 6% 56%, hsla(198,69%,64%,1) 0px, transparent 50%),
    radial-gradient(at 48% 6%, hsla(321,63%,69%,1) 0px, transparent 50%),
    radial-gradient(at 31% 26%, hsla(305,98%,75%,1) 0px, transparent 50%),
    radial-gradient(at 6% 75%, hsla(199,72%,64%,1) 0px, transparent 50%),
    radial-gradient(at 16% 87%, hsla(166,69%,76%,1) 0px, transparent 50%),
    radial-gradient(at 79% 28%, hsla(12,75%,68%,1) 0px, transparent 50%),
    radial-gradient(at 22% 17%, hsla(268,62%,68%,1) 0px, transparent 50%);
    margin: 0;
    padding: 0;
    padding: 0;
    margin: 0;
} */

/* hr {
    border-style: dotted none none;
    width: 5%;
    border-color: gray;
    border-width: 5px;
} */

/* h1 {
    color: #161313;
    text-shadow: 1.7px 1.7px;
    font-variant: small-caps;
    font-family: 'Vollkorn', serif;
    text-align: justify;
} */

/* h3 {
    color: #161313;
    font-family: 'Vollkorn', serif;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #161313;
}

li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #161313;
}

li.learning {
    list-style-type: none;
} 

*/